<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccerdb.oldschool.db.dao.AppearDAO">
 	<resultMap id="result" type="Appear">
 		<!-- Instance of Entity and Attributes of Relation need to be delclared HERE! -->
 		<result property="player_id" column="player_id"/>
 		<result property="game_id" column="game_id"/>
 		<result property="season_id" column="season_id"/>
 		<result property="start_time" column="start_time"/>
 		<result property="end_time" column="end_time"/>
        <result property="in_game_position" column="in_game_position"/>
        <result property="goals" column="goals"/>
        <result property="assist" column="assist"/>
        <result property="save" column="save"/>
        <result property="foul" column="foul"/>
        <result property="card" column="card"/>
        <result property="distance" column="distance"/>
 	</resultMap>
 	
 	<select id="selectAll" resultMap="result">
 		<!--SELECT * FROM "Relation";-->
 		SELECT * FROM Appears;
 	</select>
 	
 	<select id="selectById" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		<!-- SELECT * FROM Appears WHERE player_id = #{player_id}; -->
 	</select>
 	
 	<select id="selectByAppear" parameterType="Appear" resultMap="result">
 		SELECT * FROM Appears WHERE player_id = #{player_id} AND game_id = #{game_id} AND season_id = #{season_id};
 	</select>

 	<select id="selectByPlayerId" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE player_id = #{player_id};
 	</select>

 	<select id="selectByGameId" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE game_id = #{game_id};
 	</select>

 	<select id="selectBySeasonId" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE season_id = #{season_id};
 	</select>

 	<select id="selectByStartTimeBetween" parameterType="map" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE start_time BETWEEN #{time1} AND #{time2}; 
 	</select>

 	<select id="selectByEndTimeBetween" parameterType="map" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE end_time BETWEEN #{time1} AND #{time2}; 
 	</select>

 	<select id="selectByInGamePosition" parameterType="String" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE in_game_position = #{in_game_position};
 	</select>

 	<select id="selectByGoalsMoreThan" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE goals >= #{goals};
 	</select>

 	<select id="selectByAssistMoreThan" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE assist >= #{assist};
 	</select>
 	
  	<select id="selectBySaveMoreThan" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE save >= #{save};
 	</select>
 	
  	<select id="selectByFoulMoreThan" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE foul >= #{foul};
 	</select>
 	
  	<select id="selectByCardMoreThan" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE card >= #{card};
 	</select>
 	
  	<select id="selectByDistanceMoreThan" parameterType="float" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appears WHERE distance >= #{distance};
 	</select>
 	
    <select id="orderByPlayerId" resultMap="result">
 		SELECT * FROM Appears ORDER BY player_id; 
 	</select>
 	
    <select id="orderByGameId" resultMap="result">
 		SELECT * FROM Appears ORDER BY game_id; 
 	</select>
 	
     <select id="orderBySeasonId" resultMap="result">
 		SELECT * FROM Appears ORDER BY season_id; 
 	</select>
 	
     <select id="orderByStartTime" resultMap="result">
 		SELECT * FROM Appears ORDER BY start_time; 
 	</select>
 	
     <select id="orderByEndTime" resultMap="result">
 		SELECT * FROM Appears ORDER BY end_time; 
 	</select>
 	
     <select id="orderByGoals" resultMap="result">
 		SELECT * FROM Appears ORDER BY goals; 
 	</select>
 	
     <select id="orderByAssist" resultMap="result">
 		SELECT * FROM Appears ORDER BY assist; 
 	</select>
 	
     <select id="orderBySave" resultMap="result">
 		SELECT * FROM Appears ORDER BY save; 
 	</select>
 	
     <select id="orderByFoul" resultMap="result">
 		SELECT * FROM Appears ORDER BY foul; 
 	</select>
 	
     <select id="orderByCard" resultMap="result">
 		SELECT * FROM Appears ORDER BY card; 
 	</select>
 	
     <select id="orderByDistance" resultMap="result">
 		SELECT * FROM Appears ORDER BY distance; 
 	</select>

    <select id="orderByPlayerIdDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY player_id DESC; 
 	</select>
 	
    <select id="orderByGameIdDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY game_id DESC; 
 	</select>
 	
     <select id="orderBySeasonIdDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY season_id DESC; 
 	</select>
 	
     <select id="orderByStartTimeDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY start_time DESC; 
 	</select>
 	
     <select id="orderByEndTimeDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY end_time DESC; 
 	</select>
 	
     <select id="orderByGoalsDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY goals DESC; 
 	</select>
 	
     <select id="orderByAssistDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY assist DESC; 
 	</select>
 	
     <select id="orderBySaveDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY save DESC; 
 	</select>
 	
     <select id="orderByFoulDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY foul DESC; 
 	</select>
 	
     <select id="orderByCardDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY card DESC; 
 	</select>
 	
     <select id="orderByDistanceDESC" resultMap="result">
 		SELECT * FROM Appears ORDER BY distance DESC; 
 	</select>

 	<insert id="insert" parameterType="Appear" useGeneratedKeys="true" keyProperty="id">
 		<!-- insert into "Relation"  ("attribute name of relation" , ... , ???)
 		values "instace name of entity" , ... , "instace name of entity" -->
  		insert into Appears (player_id,game_id, season_id,start_time,end_time,in_game_position,goals,assist,save,foul,card,distance)
  		values (#{player_id},#{game_id}, #{season_id},#{start_time},#{end_time},#{in_game_position},#{goals},#{assist},#{save},#{foul},#{card},#{distance}); 
 	</insert>
 	
 	<update id="update" parameterType="Appear">
 		UPDATE Appears
 		<set>
	  		<if test="start_time != null"> start_time = #{start_time}, </if>
	  		<if test="end_time != null"> end_time = #{end_time}, </if>
	  		<if test="goals != null"> goals = #{goals}, </if>
	  		<if test="assist != null"> assist = #{assist}, </if>
	  		<if test="save != null"> save = #{save}, </if>
	  		<if test="foul != null"> foul = #{foul}, </if>
	  		<if test="card != null"> card = #{card}, </if>
	  		<if test="distance != null"> distance = #{distance}</if>
	  		
        </set>
 		WHERE player_id = #{player_id} AND game_id = #{game_id} AND season_id = #{season_id}; 
 	</update>
 	
 	<delete id="delete" parameterType="int">
 		<!-- DELETE FROM "Relation" WHERE "attribute name of relation" = #{"instace name of entity"}; -->
 		<!-- DELETE FROM Appears WHERE player_id = #{player_id}; -->
 	</delete>
 	<delete id="deleteByAppear" parameterType="Appear">
		DELETE FROM Appears WHERE player_id = #{player_id} AND game_id = #{game_id} AND season_id = #{season_id}; 
	</delete>
 </mapper>