<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccerdb.oldschool.db.dao.ClubDAO">
 	<resultMap id="result" type="Club">
 		<!-- Instance of Entity and Attributes of Relation need to be declared HERE! -->  
 		<result property="club_id" column="club_id"/>
 		<result property="club_fullname" column="full_name"/>
 		<result property="club_ground" column="ground"/>
 		<result property="club_nickname" column="nick_name"/>
 		<result property="club_owner" column="owner"/>
        <result property="club_chairman" column="chairman"/>
        <result property="club_manager" column="manager"/>
        <result property="club_logo" column="logo"/>
 	</resultMap>
 	
 	<select id="selectAll" resultMap="result">
 		<!--SELECT * FROM "Relation";-->
 		SELECT * FROM Clubs; 
 	</select>
 	
 	<select id="selectById" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Clubs WHERE club_id = #{club_id};
 	</select>
 	
 	<insert id="insert" parameterType="Club" useGeneratedKeys="true" keyProperty="id">
 		<!-- insert into "Relation"  ("attribute name of relation" , ... , ???)
 		values "instace name of entity" , ... , "instace name of entity" -->
 		insert into Clubs(club_id,full_name,ground,nick_name,owner,chairman,manager,logo)
 		values (#{club_id},#{club_fullname},#{club_ground},#{club_nickname},#{club_owner},#{club_chairman},#{club_manager},#{club_logo}); 
 	</insert>



  	<update id="update" parameterType="Club">
 		<!--UPDATE "Relation"
 		SET "attribute name of relation" = #{"instace name of entity"}
 		WHERE "attribute name of relation" = #{"instace name of entity"};-->
 		UPDATE Clubs
 		<set>
	  		<if test="club_fullname != null"> full_name = #{club_fullname}, </if>
	  		<if test="club_ground != null"> ground = #{club_ground}, </if>
	  		<if test="club_nickname != null"> nick_name = #{club_nickname}, </if>
	  		<if test="club_owner != null"> owner = #{club_owner}, </if>
	  		<if test="club_chairman != null"> chairman = #{club_chairman}, </if>
	  		<if test="club_manager != null"> manager = #{club_manager}, </if>
	  		<if test="club_logo != null"> logo = #{club_logo} </if>
	  		
        </set>
 		WHERE club_id = #{club_id}; 
 	</update>
 	
 	<delete id="delete" parameterType="int">
 		<!-- DELETE FROM "Relation" WHERE "attribute name of relation" = #{"instace name of entity"}; -->
 		DELETE FROM Clubs WHERE club_id = #{club_id};
 	</delete>
 </mapper>