<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccerdb.oldschool.db.dao.ContractDAO">
 	<resultMap id="result" type="Contract">
 		<!-- Instance of Entity and Attributes of Relation need to be delclared HERE! -->
 		<result property="player_id" column="player_id"/>
 		<result property="club_id" column="club_id"/>
 		<result property="salary" column="salary"/>
 		<result property="year_contract" column="year_contract"/>
 	</resultMap>
 	
 	<select id="selectAll" resultMap="result">
 		<!--SELECT * FROM "Relation";-->
 		SELECT * FROM Contract; 
 	</select>
 	
 	<select id="selectById" parameterType="int" resultMap="result">
 		<!--SELECT * FROM "Relation" WHERE ???;-->
 		SELECT * FROM Appear WHERE player_id = #{player_id};
 	</select>
 	
 	<insert id="insert" parameterType="Contract" useGeneratedKeys="true" keyProperty="id">
 		<!-- insert into "Relation"  ("attribute name of relation" , ... , ???)
 		values "instace name of entity" , ... , "instace name of entity" -->
 		insert into Contract(player_id,club_id,salary,year_contract)
 		values (#{player_id},#{club_id},#{salary},#{year_contract}))
 	</insert>
 	
 	<update id="update" parameterType="Contract">
 		<!--UPDATE "Relation"
 		SET "attribute name of relation" = #{"instace name of entity"}
 		WHERE "attribute name of relation" = #{"instace name of entity"};-->
  		UPDATE Contract
 		SET name = #{salary}
 		WHERE salary = #{player_id};
 	</update>
 	
 	<delete id="delete" parameterType="int">
 		<!-- DELETE FROM "Relation" WHERE "attribute name of relation" = #{"instace name of entity"}; -->
 		DELETE FROM Contract WHERE player_id = #{player_id};
 	</delete>
 </mapper>