<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccerdb.oldschool.db.dao.FieldplayerDAO">
 	<resultMap id="result" type="Fieldplayer">
		 <!-- Instance of Entity and Attributes of Relation need to be delclared HERE! -->
         	<result property="player_id" column="player_id"/>
			<result property="player_total_goal" column="total_goal"/> 
			<result property="player_total_assist" column="total_assist"/>
 	</resultMap>
 	
 	<select id="selectAll" resultMap="result">
 		SELECT * FROM Fieldplayers;
 	</select>
 	
 	<select id="selectById" parameterType="int" resultMap="result">
 		SELECT * FROM Fieldplayers WHERE player_id = #{player_id};
 	</select>
 	
 	<insert id="insert" parameterType="Fieldplayer" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO Fieldplayers  (player_id, total_goal, total_assist)
 		VALUES (#{player_id}, #{player_total_goal}, #{player_total_assist});
 	</insert>
 	
 	<update id="update" parameterType="Fieldplayer">
 		UPDATE Fieldplayers;
 		SET 
		<if test="player_total_goal != null">total_goal = #{player_total_goal}
		</if>
		<if test="player_total_assist != null">, total_assist = #{player_total_assist}
		</if>
 		WHERE player_id = #{player_id};
 	</update>
 	
 	<delete id="delete" parameterType="int">
 		DELETE FROM Fieldplayers WHERE player_id = #{player_id};
 	</delete>
 </mapper>