<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccerdb.oldschool.db.dao.GameDAO">
 	<resultMap id="result" type="Game">
 		<result property="game_id" column="game_id"/>
 		<result property="game_time" column="time"/>
 		<result property="game_place" column="place"/>
 		<result property="game_weather" column="weather"/>
 		<result property="game_bonus_time" column="bonus_time"/>
        <result property="game_is_extended" column="is_extended"/>
        <result property="game_is_shoot_out" column="is_shoot_out"/>
        <result property="game_type" column="type"/>
        <result property="game_score" column="score"/>
        <result property="game_foul" column="foul"/>
        <result property="game_ball_occupation" column="ball_occupation"/>
        <result property="game_card" column="card"/>
        <result property="game_corner_kick" column="corner_kick"/>
        <result property="game_penalty_kick" column="penalty_kick"/>
        <result property="game_throwing" column="throwing"/>
        <result property="game_uniform_color" column="uniform_color"/>               
 	</resultMap>
 	
 	<select id="selectAll" resultMap="result">
 		SELECT * FROM Games;
 	</select>
 	<select id="selectById" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE game_id = #{game_id};
 	</select>
 	<select id="selectByTime" parameterType="string" resultMap="result">
 		SELECT * FROM Games WHERE time = DATE_FORMAT(#{game_time},'%Y-%m-%d');
 	</select>
 	<select id="selectByPlace" parameterType="String" resultMap="result">
 		SELECT * FROM Games WHERE place = #{game_place};
 	</select>
 	<select id="selectByWeather" parameterType="String" resultMap="result">
 		SELECT * FROM Games WHERE weather = #{game_weather};
 	</select>
 	<select id="selectByExtended" parameterType="boolean" resultMap="result">
 		SELECT * FROM Games WHERE is_extended = #{game_is_extended};
 	</select>
 	<select id="selectByShootOut" parameterType="boolean" resultMap="result">
 		SELECT * FROM Games WHERE is_shoot_out = #{game_is_shoot_out};
 	</select>
 	<select id="selectByType" parameterType="String" resultMap="result">
 		SELECT * FROM Games WHERE type = #{game_type};
 	</select>
 	
 	<insert id="insert" parameterType="Game" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO Games(game_id, time, place,weather, bonus_time, is_extended, is_shoot_out, game_type, score, foul, ball_occupation, card, corner_kick, penalty_kick, throwing, uniform_color)
 		VALUES (#{game_id},#{game_time},#{game_place},#{game_weather},#{game_bonus_time},#{game_is_extended},#{game_is_shoot_out},#{game_type},#{game_score},#{game_foul},#{game_ball_occupation},#{game_card},#{game_corner_kick},#{game_penalty_kick},#{game_throwing},#{game_uniform_color});
 	</insert>
 	
 	<update id="updateGame" parameterType="Game">
 		UPDATE Games
 		<set>
	      <if test="game_time != null">time=#{game_time},</if>
	      <if test="game_place != null">place =#{game_place},</if>
	      <if test="game_weather != null">weather=#{game_weather},</if>
	      <if test="game_bonus_time != null">bonus_time=#{game_bonus_time},</if>
	      <if test="game_is_extended != null">is_extended=#{game_is_extended},</if>
	      <if test="game_is_shoot_out != null">is_shoot_out=#{game_is_shoot_out},</if>
	      <if test="game_type != null">type=#{game_type},</if>
	      <if test="game_ball_occupation != null">ball_occupation=#{game_ball_occupation},</if>
	      <if test="game_card != null">card=#{game_card},</if>  
	      <if test="game_corner_kick != null">corner_kick=#{game_corner_kick}</if>
	      <if test="game_penalty_kick != null">penalty_kick=#{game_penalty_kick},</if>
	      <if test="game_throwing != null">throwing=#{game_throwing},</if>
	      <if test="game_uniform_color != null">uniform_color=#{game_uniform_color}</if>
	    </set>
 		<!--Set`time`=[value-2],`place`=[value-3],`weather`=[value-4],
 		`bonus_time`=[value-5],`is_extended`=[value-6],
 		`is_shoot_out`=[value-7],`game_type`=[value-8],`score`=[value-9],
 		`foul`=[value-10],`ball_occupation`=[value-11],`card`=[value-12],
 		`corner_kick`=[value-13],`penalty_kick`=[value-14],
 		`throwing`=[value-15],`uniform_color`=[value-16]-->
 		WHERE game_id=#{game_id};
 		<!--UPDATE "Relation"
 		SET "attribute name of relation" = #{"instace name of entity"}
 		WHERE "attribute name of relation" = #{"instace name of entity"};-->
 	</update>
 	
 	<delete id="deleteGame" parameterType="int">
 		DELETE FROM Games WHERE game_id = #{game_id};
 		<!-- DELETE FROM "Relation" WHERE "attribute name of relation" = #{"instace name of entity"}; -->
 	</delete>
 </mapper>