<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccerdb.oldschool.db.dao.GameDAO">
 	<resultMap id="result" type="Game">
 		<result property="game_id" column="game_id"/>
 		<result property="game_time" column="time"/>
 		<result property="game_place" column="place"/>
 		<result property="game_weather" column="weather"/>
 		<result property="game_bonus_time" column="bonus_time"/>
        <result property="game_is_extended" column="is_extended"/>
        <result property="game_is_shoot_out" column="is_shoot_out"/>
        <result property="game_type" column="game_type"/>
        <result property="game_score" column="score"/>
        <result property="game_foul" column="foul"/>
        <result property="game_ball_occupation" column="ball_occupation"/>
        <result property="game_card" column="card"/>
        <result property="game_corner_kick" column="corner_kick"/>
        <result property="game_penalty_kick" column="penalty_kick"/>
        <result property="game_throwing" column="throwing"/>
        <result property="game_uniform_color" column="uniform_color"/> 
        <result property="game_freekick" column="freekick"/>              
 	</resultMap>
 	
 	<select id="selectAll" resultMap="result">
 		SELECT * FROM Games;
 	</select>
 	<select id="selectById" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE game_id = #{game_id};
 	</select>
 	<select id="selectByTime" parameterType="string" resultMap="result">
 		SELECT * FROM Games WHERE time = DATE_FORMAT(#{game_time},'%Y-%m-%d');
 	</select>
 	<select id="selectByPlace" parameterType="String" resultMap="result">
 		SELECT * FROM Games WHERE place = #{game_place};
 	</select>
 	<select id="selectByWeather" parameterType="String" resultMap="result">
 		SELECT * FROM Games WHERE weather = #{game_weather};
 	</select>
 	<select id="selectByExtended" parameterType="boolean" resultMap="result">
 		SELECT * FROM Games WHERE is_extended = #{game_is_extended};
 	</select>
 	<select id="selectByShootOut" parameterType="boolean" resultMap="result">
 		SELECT * FROM Games WHERE is_shoot_out = #{game_is_shoot_out};
 	</select>
 	<select id="selectByType" parameterType="String" resultMap="result">
 		SELECT * FROM Games WHERE type = #{game_type};
 	</select>
 	<select id="selectByThrowingUpper" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE throwing &gt; #{game_throwing};
 	</select>
 	
 	<select id="selectByThrowingLower" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE throwing &lt; #{game_throwing};
 	</select>
 	<select id="selectByScoreUpper" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE score &gt; #{game_score};
 	</select>
 	
 	<select id="selectByScoreLower" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE score &lt; #{game_score};
 	</select>
 	<select id="selectByFoulUpper" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE foul &gt; #{game_foul};
 	</select>
 	
 	<select id="selectByFoulLower" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE foul &lt; #{game_foul};
 	</select>
 	<select id="selectByCardUpper" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE card &gt; #{game_card};
 	</select>
 	
 	<select id="selectByCardLower" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE card &lt; #{game_card};
 	</select>
 	<select id="selectByCornerkicsUpper" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE corner_kick &gt; #{game_corner_kick};
 	</select>
 	
 	<select id="selectByCornerKickLower" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE corner_kick &lt; #{game_corner_kick};
 	</select>
 	<select id="selectByFreekickUpper" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE free_kick &gt; #{game_freekick};
 	</select>
 	
 	<select id="selectByFreekickLower" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE free_kick &lt; #{game_freekick};
 	</select>
 	<select id="selectByPenaltykickUpper" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE penalty_kick &gt; #{game_penalty_kick};
 	</select>
 	
 	<select id="selectByPenaltykickLower" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE penalty_kick &lt; #{game_penalty_kick};
 	</select>
 	<select id="selectByUniformColor" parameterType="String" resultMap="result">
 		SELECT * FROM Games WHERE uniform_color &gt; #{game_uniform_color};
 	</select> 	 	
 	<select id="selectByBallOccupationUpper" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE ball_occupation &gt; #{game_ball_occupation};
 	</select>
 	<select id="selectByBallOccupationLower" parameterType="int" resultMap="result">
 		SELECT * FROM Games WHERE ball_occupation &lt; #{game_ball_occupation};
 	</select>
 	
 	<!--  !! -->
 	
 	<select id="countAll" resultType="int">
 		SELECT COUNT(*) FROM Games;
 	</select>
 	
 	<select id="countByTime" parameterType="string" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE time = DATE_FORMAT(#{game_time},'%Y-%m-%d');
 	</select>
 	<select id="countByPlace" parameterType="String" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE place = #{game_place};
 	</select>
 	<select id="countByWeather" parameterType="String" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE weather = #{game_weather};
 	</select>
 	<select id="countByExtended" parameterType="boolean" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE is_extended = #{game_is_extended};
 	</select>
 	<select id="countByShootOut" parameterType="boolean" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE is_shoot_out = #{game_is_shoot_out};
 	</select>
 	<select id="countByType" parameterType="String" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE type = #{game_type};
 	</select>
 	<select id="countByThrowingUpper" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE throwing &gt; #{game_throwing};
 	</select>
 	
 	<select id="countByThrowingLower" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE throwing &lt; #{game_throwing};
 	</select>
 	<select id="countByScoreUpper" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE score &gt; #{game_score};
 	</select>
 	
 	<select id="countByScoreLower" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE score &lt; #{game_score};
 	</select>
 	<select id="countByFoulUpper" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE foul &gt; #{game_foul};
 	</select>
 	
 	<select id="countByFoulLower" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE foul &lt; #{game_foul};
 	</select>
 	<select id="countByCardUpper" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE card &gt; #{game_card};
 	</select>
 	
 	<select id="countByCardLower" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE card &lt; #{game_card};
 	</select>
 	<select id="countByCornerkicsUpper" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE corner_kick &gt; #{game_corner_kick};
 	</select>
 	
 	<select id="countByCornerKickLower" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE corner_kick &lt; #{game_corner_kick};
 	</select>
 	<select id="countByFreekickUpper" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE free_kick &gt; #{game_freekick};
 	</select>
 	
 	<select id="countByFreekickLower" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE free_kick &lt; #{game_freekick};
 	</select>
 	<select id="countByPenaltykickUpper" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE penalty_kick &gt; #{game_penalty_kick};
 	</select>
 	
 	<select id="countByPenaltykickLower" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE penalty_kick &lt; #{game_penalty_kick};
 	</select>
 	<select id="countByUniformColor" parameterType="String" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE uniform_color &gt; #{game_uniform_color};
 	</select> 	 	
 	<select id="countByBallOccupationUpper" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE ball_occupation &gt; #{game_ball_occupation};
 	</select>
 	<select id="countByBallOccupationLower" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Games WHERE ball_occupation &lt; #{game_ball_occupation};
 	</select>
 	
 	<!-- !! -->
 	
 	<select id="selectOrderByScore" resultMap="result">
 		SELECT * FROM Games ORDER BY score;
 	</select>
 	<select id="selectOrderByBonus" resultMap="result">
 		SELECT * FROM Games ORDER BY bonus_time;
 	</select>
 	<select id="selectOrderByBallOccupation" resultMap="result">
 		SELECT * FROM Games ORDER BY ball_occupation;
 	</select>
 	<select id="selectOrderByCard" resultMap="result">
 		SELECT * FROM Games ORDER BY card;
 	</select>
 	<select id="selectOrderByCornerkick" resultMap="result">
 		SELECT * FROM Games ORDER BY corner_kick;
 	</select>
 	<select id="selectOrderByPenaltykick" resultMap="result">
 		SELECT * FROM Games ORDER BY penalty_kick;
 	</select>
 	<select id="selectOrderByThrowing" resultMap="result">
 		SELECT * FROM Games ORDER BY throwing;
 	</select>
 	<select id="selectTomorrowMatch" parameterType="string" resultMap="result">
 		SELECT * FROM Games WHERE time = DATE_FORMAT(#{game_time},'%Y-%m-%d+1');
 	</select>
 	<insert id="insert" parameterType="Game" useGeneratedKeys="true" keyProperty="game_id">
 		INSERT INTO Games(time, place, weather, bonus_time, is_extended, is_shoot_out, game_type, score, foul, ball_occupation, card, corner_kick, penalty_kick, throwing, uniform_color, freekick)
 		VALUES (#{game_time},#{game_place},#{game_weather},#{game_bonus_time},#{game_is_extended},#{game_is_shoot_out},#{game_type},#{game_score},#{game_foul},#{game_ball_occupation},#{game_card},#{game_corner_kick},#{game_penalty_kick},#{game_throwing},#{game_uniform_color},#{game_free_kick});
 	</insert>
 	
 	<update id="updateGame" parameterType="Game">
 		UPDATE Games
 		<set>
	      <if test="game_time != null">time=#{game_time},</if>
	      <if test="game_place != null">place =#{game_place},</if>
	      <if test="game_weather != null">weather=#{game_weather},</if>
	      <if test="game_bonus_time != null">bonus_time=#{game_bonus_time},</if>
	      <if test="game_is_extended != null">is_extended=#{game_is_extended},</if>
	      <if test="game_is_shoot_out != null">is_shoot_out=#{game_is_shoot_out},</if>
	      <if test="game_type != null">type=#{game_type},</if>
	      <if test="game_ball_occupation != null">ball_occupation=#{game_ball_occupation},</if>
	      <if test="game_card != null">card=#{game_card},</if>  
	      <if test="game_corner_kick != null">corner_kick=#{game_corner_kick}</if>
	      <if test="game_penalty_kick != null">penalty_kick=#{game_penalty_kick},</if>
	      <if test="game_throwing != null">throwing=#{game_throwing},</if>
	      <if test="game_uniform_color != null">uniform_color=#{game_uniform_color}</if>
	    </set>
 		WHERE game_id=#{game_id};		
 	</update>
 	
 	<delete id="deleteGame" parameterType="int">
 		DELETE FROM Games WHERE game_id = #{game_id};
 	</delete>
 </mapper>