<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccerdb.oldschool.db.dao.MatchDAO">
 	<resultMap id="result" type="Match">
 		<result property="game_id" column="game_id"/>
 		<result property="club_id" column="club_id"/>
 		<result property="season_id" column="season_id"/>
 		<result property="is_home" column="is_home"/>
 		<!-- Instance of Entity and Attributes of Relation need to be delclared HERE! -->
         
 	</resultMap>
 	
 	<select id="selectAll" resultMap="result">
 		SELECT * FROM Matches;
 		<!--SELECT * FROM "Relation";-->
 	</select>
 	
 	<select id="selectByGameId" parameterType="int" resultMap="result">
 		SELECT * FROM Matches
 		WHERE game_id=#{game_id}; 		<!--SELECT * FROM "Relation" WHERE ???;-->
 	</select>
 	<select id="selectByClubId" parameterType="int" resultMap="result">
 		SELECT * FROM Matches
 		WHERE club_id=#{club_id} 		<!--SELECT * FROM "Relation" WHERE ???;-->
 	</select>
 	<select id="selectBySeasonId" parameterType="int" resultMap="result">
 		SELECT * FROM Matches
 		WHERE season_id=#{season_id}; 		<!--SELECT * FROM "Relation" WHERE ???;-->
 	</select>
 	<select id="selectByIsHome" parameterType="boolean" resultMap="result">
 		SELECT * FROM Matches
 		WHERE is_home=#{is_home}; 		<!--SELECT * FROM "Relation" WHERE ???;-->
 	</select>
 	<select id="selectOrderByGameId" resultMap="result">
 		SELECT * FROM Games ORDER BY game_id;
 	</select>
 	<select id="selectOrderByClubId" resultMap="result">
 		SELECT * FROM Games ORDER BY club_id;
 	</select>
 	<select id="selectOrderBySeasonId" resultMap="result">
 		SELECT * FROM Games ORDER BY season_id;
 	</select>
 	
 	
 	<insert id="insert" parameterType="Match" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO Matches(club_id, game_id, season_id,is_home)
 		VALUES (#{game_id},#{season_id},#{club_id},#{is_home});
 
 	</insert>
 	
 	<update id="updateMatch" parameterType="Match">
 		UPDATE Matches
 		<set>
	      <if test="game_id != null">game_id=#{game_id},</if>
	      <if test="season_id != null">season_id =#{season_id},</if>
	      <if test="club_id != null">club_id=#{club_id}</if>
	      <if test="is_home != null">is_home=#{is_home}</if>
	    </set>
	    WHERE game_id=#{game_id},club_id=#{club_id},season_id=#{season_id};		
 	</update>

	 <delete id="deleteMatch" parameterType="Match">
		DELETE FROM Matches WHERE club_id=#{club_id},game_id=#{game_id},season_id=#{season_id}; 
	 </delete>
	 
	 <!-- Additional Queries -->
	 
	 <select id="searchMatchOrderByPlace" parameterType="Match" resultMap="result">
	 	SELECT * FROM Matches ORDER BY (SELECTi)
	 </select>
	 
	 
	 <!-- CREATE VIEW MatchDetail AS SELECT B.full_name AS 'Home Team', C.full_name AS 'Away Team', A.place AS 'Place', A.game_type AS 'Type', D.year AS 'Season' From Games A, Clubs B, Clubs C, Seasons D, Matches E WHERE (E.game_id = A.game_id AND ((E.club_id = B.club_id AND E.is_home = 1) OR (E.club_id = C.club_id AND E.is_home = 0)) AND E.season_id = D.season_id); -->
 </mapper>