<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccerdb.oldschool.db.dao.PlayerDAO">
 	<resultMap id="result" type="Player">
 		<result property="player_id" column="player_id"/>
 		<result property="player_name" column="name"/>
        <result property="player_nationality" column="nationality"/>
        <result property="player_debut" column="debut"/>
        <result property="player_birthday" column="birthday"/>
 	</resultMap>
 	
 	<select id="selectAll" resultMap="result">
 		SELECT * FROM Players;
 	</select>
 	
 	<select id="selectById" parameterType="int" resultMap="result">
 		SELECT * FROM Players WHERE player_id = #{player_id};
 	</select>
 	
 	<insert id="insert" parameterType="Player" useGeneratedKeys="true" keyProperty="id">
 		insert into Players (name, nationality, debut, birthday) 
 		values (#{player_name}, #{player_nationality}, #{player_debut}, #{player_birthday});
 	</insert>
 	
 	<update id="update" parameterType="Player">
 		UPDATE Players
 		<set>
	      <if test="player_name != null">name=#{player_name},</if>
	      <if test="player_nationality != null">nationality=#{player_nationality},</if>
	      <if test="player_debut != null">debut=#{player_debut},</if>
	      <if test="player_birthday != null">birthday=#{player_birthday},</if>
	    </set>
 		WHERE player_id = #{player_id};
 		
 	</update>
 	
 	<delete id="delete" parameterType="int">
 		DELETE FROM Players WHERE player_id = #{player_id};
 	</delete>
 	
 	
 	<!-- Additional Queries -->
 	
 	<select id="selectByNationality" parameterType="String" resultMap="result">
 		SELECT * FROM Players WHERE nationality = #{player_nationality};
 	</select>
 	
 	<select id="selectByLetterForName" parameterType="String" resultMap="result">
 		SELECT * FROM Players WHERE name LIKE #{player_name};
 	</select>
 	
 	<select id="selectByBirthday" parameterType="String" resultMap="result">
 		SELECT * FROM Players WHERE birthday = DATE_FORMAT(#{player_birthday},'%Y-%m-%d');
 	</select>
 	
 	<select id="searchPlayerDebutAtThisYear" parameterType="int" resultMap="result">
 		SELECT * FROM Players WHERE debut = #{player_debut}; 
 	</select>
 	
 	<select id="searchPlayerDebutAfterThisYear" parameterType="int" resultMap="result">
 		SELECT * FROM Players WHERE debut > #{player_debut};
 	</select>
 	
 	<select id="searchPlayerDebutBeforeThisYear" parameterType="int" resultMap="result">
 		SELECT * FROM Players 
 		<![CDATA[
			WHERE debut < #{player_debut}; 
		]]>
 	</select>
 	
 	<select id="searchPlayersOrderByName" resultMap="result">
 		SELECT * FROM Players ORDER BY name;
 	</select>
 	
 	<select id="searchPlayersOrderByNationality" resultMap="result">
 		SELECT * FROM Players ORDER BY nationality;
 	</select>
 	
 	<select id="searchPlayersOrderByDebut" resultMap="result">
 		SELECT * FROM Players ORDER BY debut;
 	</select>
 	
 	<select id="searchPlayersOrderByBirthday" resultMap="result">
 		SELECT * FROM Players ORDER BY birthday;
 	</select>
 	
 	<select id="searchPlayersOrderByNameDesc" resultMap="result">
 		SELECT * FROM Players ORDER BY name DESC;
 	</select>
 	
 	<select id="searchPlayersOrderByNationalityDesc" resultMap="result">
 		SELECT * FROM Players ORDER BY nationality DESC;
 	</select>
 	
 	<select id="searchPlayersOrderByDebutDesc" resultMap="result">
 		SELECT * FROM Players ORDER BY debut DESC;
 	</select>
 	
 	<select id="searchPlayersOrderByBirthdayDesc" resultMap="result">
 		SELECT * FROM Players ORDER BY birthday DESC;
 	</select>
 	
 	<select id="searchPlayerOrderBy" parameterType="Player" resultMap="result">
 		SELECT * FROM Players ORDER BY #{player_name} 
 		<if test="player_nationality != 'asc'">DESC</if>
 	</select>
 	
 	<select id="calculatePlayerAge" parameterType="int" resultType="int">
 		SELECT TIMESTAMPDIFF(year, birthday, NOW()) FROM Players WHERE player_id = #{player_id};
 	</select>
 	
 	
 	<select id="countAllPlayers" resultType="int">
 		SELECT COUNT(*) FROM Players;
 	</select>
 	
 	<select id="countAllPlayersWithCountry" parameterType="String" resultType="int" >
 		SELECT COUNT(*) FROM Players WHERE nationality = #{player_nationality};
 	</select>
 	
 	<select id="countAllPlayersWithDebutYear" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Players WHERE debut = #{player_debut};
 	</select>
 	
 	<select id="countAllPlayersWithBirthday" parameterType="String" resultType="int">
 		SELECT COUNT(*) FROM Players WHERE birthday = DATE_FORMAT(#{player_birthday},'%Y-%m-%d');
 	</select>
 	
 	
 	<select id="countAllPlayersSameAge" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Players
 		WHERE
 		<![CDATA[ 
 		TIMESTAMPDIFF(year, birthday, NOW()) = #{player_debut};
 		]]>
 	</select>
 	
 	<select id="searchAllPlayersSameAge" parameterType="int" resultMap="result">
 		SELECT * FROM Players
 		WHERE
 		<![CDATA[ 
 		TIMESTAMPDIFF(year, birthday, NOW()) = #{player_debut};
 		]]>
 	</select>
 	
 	
 	<select id="countAllPlayersUnderAge" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Players
 		WHERE
 		<![CDATA[ 
 		TIMESTAMPDIFF(year, birthday, NOW()) < #{player_debut};
 		]]>
 	</select>
 	
 	<select id="searchAllPlayersUnderAge" parameterType="int" resultMap="result">
 		SELECT * FROM Players
 		WHERE
 		<![CDATA[ 
 		TIMESTAMPDIFF(year, birthday, NOW()) < #{player_debut};
 		]]>
 	</select>
 	
 	<select id="countAllPlayersOverAge" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM Players
 		WHERE
 		<![CDATA[ 
 		TIMESTAMPDIFF(year, birthday, NOW()) > #{player_debut};
 		]]>
 	</select>
 	
 	<select id="searchAllPlayersOverAge" parameterType="int" resultMap="result">
 		SELECT * FROM Players
 		WHERE
 		<![CDATA[ 
 		TIMESTAMPDIFF(year, birthday, NOW()) > #{player_debut};
 		]]>
 	</select>
 	
 </mapper>