<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccerdb.oldschool.db.dao.PPSDAO">
 	<resultMap id="result" type="Player_per_Season">
 		<result property="player_id" column="player_id"/>
 		<result property="season_id" column="season_id"/>
 		<result property="pps_position" column="position"/>
 		<result property="pps_height" column="height"/>
 		<result property="pps_weight" column="weight"/>
        <result property="pps_season_goal" column="season_goal"/>
        <result property="pps_season_assist" column="season_assist"/>
        <result property="pps_season_game" column="season_game"/>
        <result property="pps_season_card" column="season_card"/>
        <result property="pps_season_foul" column="season_foul"/>
                  
 	</resultMap>
 	
 	<select id="selectAll" resultMap="result" timeout="5">
 		SELECT * FROM player_per_season;
 	</select>
 	
 	<select id="selectById" parameterType="int" resultMap="result">
 		<!-- SELECT * FROM player_per_season WHERE player_id = #{player_id} AND season_id = #{season_id}; -->
 	</select>

	<select id="selectByPPS" parameterType="Player_per_Season" resultMap="result">
 		SELECT * FROM player_per_season WHERE player_id = #{player_id} AND season_id = #{season_id};
 	</select>

 	
 	<insert id="insert" parameterType="Player_per_Season" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO player_per_season(player_id, season_id, position, height, weight, season_goal, season_assist, season_game, season_card, season_foul)
 		VALUES (#{player_id}, #{season_id}, #{pps_position}, #{pps_height}, #{pps_weight}, #{pps_season_goal}, #{pps_season_assist}, #{pps_season_game}, #{pps_season_card}, #{pps_season_foul});
 	</insert>
 	
 	<update id="update" parameterType="Player_per_Season"> 
 		UPDATE player_per_season
 		<set>
            <if test="pps_position != null"> position = #{pps_position},</if>
            <if test="pps_height != null"> height = #{pps_height},</if>
            <if test="pps_weight != null"> weight = #{pps_weight},</if>
            <if test="pps_season_goal != null"> season_goal = #{pps_season_goal},</if>
            <if test="pps_season_assist != null"> season_assist = #{pps_season_assist},</if>
            <if test="pps_season_game != null"> season_game = #{pps_season_game},</if>
            <if test="pps_season_card != null"> season_card = #{pps_season_card},</if>
            <if test="pps_season_foul != null"> season_foul = #{pps_season_foul}</if>
        </set>
 		WHERE player_id = #{player_id} AND season_id = #{season_id}
 	</update>

 	
 	<delete id="delete" parameterType="int"> </delete>
	<delete id="deleteByPPS" parameterType="Player_per_Season">
		DELETE FROM player_per_season WHERE player_id = #{player_id} AND season_id = #{season_id}
	</delete>
	
	
	<!--  Additional Queries  -->
	
	<select id="searchPPSWhoseHeightIs" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE height = #{pps_height};
			<if test="season_id != 0"> AND season_id = #{season_id};</if>
	</select>
	
	<select id="countPPSWhoseHeightIs" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE height = #{pps_height};
			<if test="season_id != 0"> AND season_id = #{season_id};</if>
	</select>
	
	<select id="searchPPSWhoseShorterThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season
		WHERE 
		<![CDATA[
			 height < #{pps_height}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseShorterThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season
		WHERE 
		<![CDATA[
			 height < #{pps_height}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseTallerThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE height >= #{pps_height}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseTallerThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE height >= #{pps_height}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseWeightIs" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE weight = #{pps_weight}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseWeightIs" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE weight = #{pps_weight}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseLighterThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season
		WHERE 
		<![CDATA[
			 weight < #{pps_weight}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseLighterThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season
		WHERE 
		<![CDATA[
			 weight < #{pps_weight}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseHeavierThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE weight >= #{pps_weight}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseHeavierThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE weight >= #{pps_weight}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhosePositionIs" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE position LIKE #{pps_position}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhosePositionIs" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE position LIKE #{pps_position}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseGoalsAre" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_goal = #{pps_season_goal}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseGoalsAre" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_goal = #{pps_season_goal}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseGoalsLessThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE 
		<![CDATA[
			season_goal < #{pps_season_goal}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseGoalsLessThan" parameterType="Player_per_Season" resultMap="result">
		SELECT COUNT(*) FROM player_per_season WHERE 
		<![CDATA[
			season_goal < #{pps_season_goal}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseGoalsMoreThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_goal >= #{pps_season_goal}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseGoalsMoreThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_goal >= #{pps_season_goal}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	
	<select id="searchPPSWhoseAssistsAre" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_assist = #{pps_season_assist}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseAssistsAre" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_assist = #{pps_season_assist}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseAssistsLessThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE 
		<![CDATA[
			season_assist < #{pps_season_assist}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseAssistsLessThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE 
		<![CDATA[
			season_assist < #{pps_season_assist}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseAssistsMoreThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_assist >= #{pps_season_assist}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseAssistsMoreThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_assist >= #{pps_season_assist}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	
	<select id="searchPPSWhoseSavessAre" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_save = #{pps_season_save}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseSavessAre" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_save = #{pps_season_save}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseSavessLessThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE 
		<![CDATA[
			season_save < #{pps_season_save}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseSavessLessThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE 
		<![CDATA[
			season_save < #{pps_season_save}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseSavessMoreThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_save >= #{pps_season_save}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseSavessMoreThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_save >= #{pps_season_save}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseGamesAre" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_game = #{pps_season_game}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseGamesAre" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_game = #{pps_season_game}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseGamesLessThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE 
		<![CDATA[
			season_game < #{pps_season_game}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	
	<select id="countPPSWhoseGamesLessThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE 
		<![CDATA[
			season_game < #{pps_season_game}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseGamesMoreThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_game >= #{pps_season_game}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseGamesMoreThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_game >= #{pps_season_game}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	
	<select id="searchPPSWhoseCardsAre" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_card = #{pps_season_card}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseCardsAre" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_card = #{pps_season_card}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseCardsLessThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE 
		<![CDATA[
			season_card < #{pps_season_card}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseCardsLessThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE 
		<![CDATA[
			season_card < #{pps_season_card}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseCardsMoreThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_card >= #{pps_season_card}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseCardsMoreThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_card >= #{pps_season_card}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseFoulsAre" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_foul = #{pps_season_foul}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseFoulsAre" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_foul = #{pps_season_foul}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	<select id="searchPPSWhoseFoulsLessThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE 
		<![CDATA[
			season_foul < #{pps_season_foul}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="countPPSWhoseFoulsLessThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE 
		<![CDATA[
			season_foul < #{pps_season_foul}
		]]>
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSWhoseFoulsMoreThan" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season WHERE season_foul >= #{pps_season_foul}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>

	<select id="countPPSWhoseFoulsMoreThan" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season WHERE season_foul >= #{pps_season_foul}
		<if test="season_id != 0">AND season_id = #{season_id}</if>
	</select>
	
	<select id="searchPPSOrderBySeason" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_id;
		<where>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByPosition" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season ORDER BY position
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByHeight" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY height
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByWeight" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY weight
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByGoals" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_goal
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByAssists" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_assist
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderBySaves" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_save
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByGames" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_game
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByCards" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_card
	<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByFouls" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_foul
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderBySeasonDesc"  parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_id DESC;
		<where>
			<if test="player_id != 0">player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByPositionDesc" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season ORDER BY position DESC
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
		
	</select>
	
	<select id="searchPPSOrderByHeightDesc" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season ORDER BY height DESC
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByWeightDesc" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season ORDER BY weight DESC
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByGoalsDesc" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_goal DESC
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByAssistsDesc" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_assist DESC
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderBySavesDesc" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_save DESC
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByGamesDesc" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_game
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByCardsDesc" parameterType="Player_per_Season" resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_card DESC
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="searchPPSOrderByFoulsDesc" parameterType="Player_per_Season"  resultMap="result">
		SELECT * FROM player_per_season ORDER BY season_foul DESC
		<where>
			<if test="season_id != 0">season_id = #{season_id}</if>
			<if test="player_id != 0">AND player_id = #{player_id}</if>
		</where>
	</select>
	
	<select id="countAllPPS" parameterType="Player_per_Season" resultType="int">
		SELECT COUNT(*) FROM player_per_season
		<where>
			<if test="player_id != 0">player_id = #{player_id}</if>
			<if test="season_id != 0">AND season_id = #{season_id}</if>
		</where>
	</select>
	
	
	<!-- We can count Goals by season or Total Goals with or without season information -->
	<select id="sumOfPlayerGoals" parameterType="Player_per_Season" resultType="int">
		SELECT SUM(season_goal) FROM player_per_season
		<where>
			<if test="player_id != 0">player_id = #{player_id}</if>
			<if test="season_id != 0">AND season_id = #{season_id}</if>
		</where> 
	</select>
	
	<select id="sumOfPlayerAssists" parameterType="Player_per_Season" resultType="int">
		SELECT SUM(season_assist) FROM player_per_season 
		<where>
			<if test="player_id != 0">player_id = #{player_id}</if>
			<if test="season_id != 0">AND season_id = #{season_id}</if>
		</where> 
	</select>
	
	<select id="sumOfPlayerSaves" parameterType="Player_per_Season" resultType="int">
		SELECT SUM(season_save) FROM player_per_season 
		<where>
			<if test="player_id != 0">player_id = #{player_id}</if>
			<if test="season_id != 0">AND season_id = #{season_id}</if>
		</where> 
	</select>
	
	<select id="sumOfPlayerGames" parameterType="Player_per_Season" resultType="int">
		SELECT SUM(season_game) FROM player_per_season 
		<where>
			<if test="player_id != 0">player_id = #{player_id}</if>
			<if test="season_id != 0">AND season_id = #{season_id}</if>
		</where> 
	</select>
	
	<select id="sumOfPlayerCards" parameterType="Player_per_Season" resultType="int">
		SELECT SUM(season_card) FROM player_per_season 
		<where>
			<if test="player_id != 0">player_id = #{player_id}</if>
			<if test="season_id != 0">AND season_id = #{season_id}</if>
		</where> 
	</select>
	
	<select id="sumOfPlayerFouls" parameterType="Player_per_Season" resultType="int">
		SELECT SUM(season_foul) FROM player_per_season
		<where>
			<if test="player_id != 0">player_id = #{player_id}</if>
			<if test="season_id != 0">AND season_id = #{season_id}</if>
		</where>
	</select>
	
	
 </mapper>